/* 2 - Crie um arquivo no mesmo diretório e nomeie-o de 'style.css'. */

/* 3 - Nesse arquivo .css, adicione os estilos para que: */

/* 3.1 - O texto das tags 'h1' e 'p' estejam centralizados. */
h1, p {
  text-align: center;
}

/* 3.2 - A cor de fundo da sua lista mude quando o cursor estiver sobre o item. */
li:hover {
  background-color: darkslategrey;
}

/* 3.3 - A fonte do item mude quando ele for clicado. */
li:active {
  font-family: Helvetica, sans-serif;
}