/* 1 - Posicione o Mário acima do Goomba. */
.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 60px;
  }

  /* 3 - Posicione o balão para que se torne uma fala de Bowser. */
  .baloon {
    position: absolute;
    left: 200px;
  }

  /* 2 - Posicione a tag p para que fique dentro do balão de fala. */
  .speach {
    font-size: 25px;
    position: absolute;
    left: 220px;
    top: 125px;
    z-index: 1;
  }
  
  .bowser {
    width: 500px;
    position: absolute;
    left: 450px;
    top: 100px;
  }