/* 1 - Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda. */
div:hover {
  border: 2px ridge black;
  max-width:fit-content;
}

/* 2. Faça cada div ter uma cor própria. */
div:nth-of-type(1) {
  background-color: #023e8a;
}

div:nth-of-type(2) {
  background-color: #deaaff;
}

div:nth-of-type(3) {
  background-color: #00FEFF;
}

div:nth-of-type(4) {
  background-color: #432818;
}

div:nth-of-type(5) {
  background-color: #ffe6a7;
}

/* 3 - Estilize cada uma das tags div */
div:nth-of-type(1) > h3 {
  padding: 1em;
}

div:nth-of-type(2) > h3 {
  padding: 1em;
}

/* 4 - Faça a terceira div ser maior que as demais. */
div:nth-of-type(3) > h3 {
  padding: 1em;
  font-size: 20px;

}

div:nth-of-type(4) > h3 {
  padding: 1em;
}

div:nth-of-type(5) > h3 {
  padding: 1em;
}