h1 {
    font-size: 65px; 
    color: orange;
    font-family: sans-serif;
  }

  ul {
    background-color: mediumaquamarine;
    line-height: 150%;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: double;
  }

  .colored-color-list {
    background-color: burlywood;
  }

  p {
    font-weight: 600;
    font-size: 3em;
  }

  body {
    font-size: 16px;
  }

  #c1 {
    color: yellow;
  }
  #c2 {
    color: red;
  }
  #c3 {
    color: brown;
  }